/*
This file is a copy of all CSS files from the searchunify theme.
*/

/** searchunify SearchBoxCss.css copy begin */
.su__search_section.su__bg-blue-grd {
  background: transparent;
  margin: 0px;
  padding: 0px;
}

.su_autocomplete-block .su__search_section .su__container {
  padding: 0px;
}

.su_autocomplete-block input#search-box-autocomplete {
  border-radius: 0px;
}

.su_autocomplete-block button.su__btn.su__search_btn {
  /* visibility: visible must stay here to show the button instead of animation */
  visibility: visible !important;
  left: calc(100% - 50px) !important;
  background-color: #f1582c;
}

div#su_autocomplete-block .su__container {
  padding: 0px;
  margin: 0px;
  max-width: 100% !important;
  outline: none;
}

span.su__suggestion-title.su__font-13.su__text-black.su__f-regular {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

span.su__color-gray.su__f-bold {
  color: #808080 !important;
}

.su__recentSearch {
  height: 35px;
}

.su__autoSuggestion.su__align-items-center.su__cursor.su__suggestions-list {
  height: 35px;
}

.su__suggestions-list.su__bg-gray-hover.su__d-flex.su__font-14.su__text-black {
  line-height: 20px;
}

.su__input-close {
  right: 41px;
}

/** searchunify SearchBoxCss.css copy end */

/** searchunify Feedback.css copy begin */
.su_page_rating_box {
  display: block;
  padding: 10px
}

.su_page_rating_box p {
  margin: 3px 5px
}

.su_page_rating_box .su-featured-text {
  color: #777;
  font-size: 12px;
  padding: 10px 10px 5px;
  float: right
}

.su_page_rating_box .su_helpful {
  display: inline-block;
  border: 1px solid #43a047;
  background-color: #43a047;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff
}

.su_page_rating_box .su_helpful:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px 3px
}

.su_page_rating_box .su_unhelpful {
  display: inline-block;
  border: 1px solid #ef5350;
  background-color: #ef5350;
  padding: 2px 10px;
  border-radius: 2px;
  color: #fff
}

.su_page_rating_box .su_unhelpful:hover {
  cursor: pointer;
  box-shadow: 2px 2px 3px 3px
}

.su_page_rating_box .su_feedback_success {
  color: #fff;
  font-size: 14px;
  padding: 10px;
  background-color: #43a047;
  border-radius: 3px;
  width: 20%;
  text-align: center
}

.su__pagerating-row .su__close-svg {
  width: 14px;
  height: 14px
}

.su_feedback_form {
  border: 1px solid #f3f3f3;
  color: #fff;
  font-size: 14px;
  padding: 10px 16px;
  text-align: center;
  background: #FFF;
  box-shadow: 0 1px 7px #ccc;
  border-radius: 6px;
}

.su__pagerating-row {
  background: #FFF;
  box-shadow: 0 1px 7px #00000029
}

.su__pagerating-row,
.su_feedback_form {
  max-width: 255px;
  margin-bottom: 5px;
}

.su__pagerating-lay .su__close-svg {
  width: 12px;
  height: 12px;
}

.su__feedback-label {
  padding-right: 14px;
}

.su__feedback-modal,
.su__feedshow-bottom,
.su__feedshow-center {
  overflow: hidden;
  word-break: break-all;
}

.su__feed-desc {
  padding-right: 15px;
}

.su__feedbackform_custom {
  max-width: none !important;
  min-width: auto;
  width: fit-content
}

.su_thumb-yes {
  margin-right: 0px !important;
}

/** searchunify Feedback.css copy end */


/** searchunify  main.css copy begin */
.su__editClient *,
.searchTips-sidenav *,
.su__viewed-results,
.su_page_rating_box,
.su__viewed-results *,
.su__no-view-results,
#su_autocomplete-block,
#su_autocomplete-block *,
.su__wrapper,
#su__wrapper,
#su__wrapper * {
  /* font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; */
  font-family: 'DMSans', Helvetica, Arial, sans-serif !important;
}

.su__main-content .su__search_section .su__container {
  opacity: 0;
  height: 0px
}

div#gear-sidebar {
  display: flex;
  margin: 0px;
  padding: 10px;
  float: none;
  width: 0px;
}

div#gear-sidebar.su__show-gear {
  width: 200px;
}

.su-tabsSection {
  display: none
}

.su__view-active svg rect {
  fill: #f1582c;
}

span.su__input-close {
  display: none
}

.su__px-3.su__py-3.su__position-relative.su__flex-vcenter.su__border-t {
  border-bottom: 2px solid #c3c3c3;
  padding: 10px 15px;
  margin-bottom: 5px;
}

.su__Language-boxs.su__flex-vcenter {
  display: none;
}

.su__list-items span.highlight {
  /* color: #34b676; */
  color: rgb(197 62 55);
  font-weight: normal;
  font-style: normal;
  border-bottom: none;
}

.su__suggestions-list span.highlight {
  /* color: #34b676; */
  color: rgb(197 62 55);
  font-weight: normal;
  font-style: normal;
  border-bottom: none;
}

.su__filters-button:focus,
.su__key-focus:focus,
.su__tabs:focus,
.su__filter-toggle:focus {
  box-shadow: 0px 0px 0px 1px #dfdcdc;
  border-radius: 2px;
}

.su__flex-vcenter .su__href-txt {
  display: none;
}

.su_autocomplete-block .su__search_btn svg path {
  fill: white;
}

div#customizedSettings,
.su__searchTip-header,
.su__advance_group button,
.su__bookmark-save,
.su__bookmark-popup-title.su__bg-blue-grd,
#goToTopBtn,
.editLayout span.apply.su__text-white.su__bg-blue-grd {
  background: #f1582c;
}

.su__customized__settings-inner p {
  margin-top: 0px;
}

.searchTips-sidenav.su__with-overlay {
  z-index: 9999
}

.su__searchTip-header h4 {
  font-weight: 600;
  font-size: initial;
  margin-top: unset;
  margin-bottom: unset;
}

.su__searchTip-list li {
  font-size: 12px;
}

.swapFilter {
  margin-left: auto;
  order: 2;
}

.su__container .su__allcontent-incactive.su__content-gutter {
  padding-left: 0px;
  padding-right: 10px;
  margin: 0px;
}

.su__allSelected-notshow.su__ipadview-block.su__d-md-flex.su__py-2.su__col-md-12 {
  border-radius: 6px;
  padding: 8px 15px 3px 15px;
}

input#sub_topic-search {
  padding: 6px 24px 7px 34px;
}

.su__grid-content .su__list-items {
  max-width: 47%;
}

.su__open-facets {
  border: 1px;
  margin-bottom: 10px;
  border-color: #e6e6e6;
  border-style: solid;
}

.su__search-facet-input:active,
.su__search-facet-input:focus {
  border-color: rgb(200 80 73) !important;
}

div#facets-section {
  border: none;
  min-width: 450px;
}

@media screen and (max-width: 1200px) {
  div#facets-section {
    border: none;
    min-width: 300px;
  }
}

span.su__pagination-active {
  color: #fff !important;
  background-color: #aaabad !important;
  border-color: #aaabad;
}

.editClient .editLayout span.apply {
  /* border: 1px solid #58C1FE; */
  border: 1px solid #f1582c;
  border-radius: 0px;
}

.su__facet-pref-blocks .su__list-item-img svg path {
  fill: #58C1FE;
}

.su__facet-pref-blocks .su__allSelected-pref-no span.su-display {
  border-radius: 0px;
}

.su__facet-pref-blocks h4.su__list-item-title.su__text-black {
  margin: initial;
  font-size: 17px;
}

.su__facet-pref-blocks p.su__list-item-url.su__w-100.su__my-1.su__font-12 {
  margin: initial;
  font-size: 16px;
}

.su__facet-pref-blocks .navbar-filter {
  display: none;
}

.su__facet-pref-blocks p.su__list-item-desc.su__w-100.su__my-1.su__font-regular.su__mb-2.su__font-12 {
  margin: initial;
  font-size: 14px;
}

.su__allSelected-pref-no {
  height: calc(100vh - 145px);
  overflow: auto;
}

.su__position-fixed.su__zindex-3.su__flex-vcenter {
  z-index: 9999;
}

.su__modal-inner .su__Conform-block button.su__btn.su__bg-gray {
  color: gray !important;
  background-color: #80808033;
  font-weight: 600;
}

.su__flex-hcenter.su__position-fixed.su__trbl-0.su__zindex-3.su__px-sm-1 {
  z-index: 9999;
}

.su__flex-hcenter.su__position-fixed.su__px-xs-2.su__trbl-0.su__zindex-3 {
  z-index: 9999;
}

svg.su__advance-icon g rect fill {
  fill: #58C1FE;
}

.su__position-fixed.su__trbl-0.su__zindex-2 {
  z-index: 9999
}

.su__f-bold {
  font-size: 14px;
}

.su__recommendations-title h4.su__search-title.su__list-item-title.su__text-truncate.su__m-0.su__loading-view {
  margin: initial;
  font-size: 10px;
}

section.su__w-100.su__position-fixed.su__bottom-0.su__bg-white.su__d-xs-block {
  z-index: 2;
}

.su__modal-inner.su__radius.su__animate-fadown.su__zindex-3.su__shadow-lg.su__bg-white.su__radius-1 {
  margin-top: 3%;
}

.bread-arrow-right {
  position: relative;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-top: 1px solid #a4a3a6;
  border-right: 1px solid #a4a3a6;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  border-left: none;
  border-bottom: none;
  cursor: pointer;
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  left: 6px;
}

.bread-arrow-right {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  left: 2px;
  top: 0px;
}

.su__custom-breadcrum-item:last-child .bread-arrow-right {
  display: none
}

span.su__custom-breadcrum-item.su__color-black.su__tags.su__mb-1.su__radius-3.su__mr-1.su__rtlmr-0.su__rtlml-2.su__line-height-n.su__font-10 {
  background-color: rgb(255, 255, 255);
  margin-right: 0px;
  margin-left: 0px;
}

.su__db-help-center {
  width: inherit;
  text-align: end;
  margin-top: 5px;
}

a.su__db-help-center-link {
  font-size: 14px;
}

.su__custom-breadcrum-item-auto:last-child .bread-arrow-right {
  display: none
}

.su__suggestBreadcrumb span.su__color-gray.su__f-bold {
  display: none;
}

.su__custom-breadcrum-item-auto {
  color: rgb(128, 128, 128);
}

.su__suggestion-desc.su__line-height-n.su__font-11.su__color-lgray.su__suggestBreadcrumb {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.su__custom-breadcrum-item.su__color-black.su__tags.su__mb-1.su__radius-3.su__mr-1.su__rtlmr-0.su__rtlml-2.su__line-height-n.su__font-10 {
  padding: 0px;
}

i.bread-arrow-right {
  margin-right: 5px;
  left: 0px;
}

span.metaDataKey.su__font-bold.su__color-blue.su__mr-2.su__rtlmr-0.su__rtlml-2.su__font-12 {
  display: none;
}

.su__suggestions-txt.su__suggestion-desc span.su__color-gray.su__f-bold {
  display: block !important;
}

span.su__color-gray.su__f-bold {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

.su__custom-breadcrum-padding {
  margin-top: 10px;
}

span.su__list-item-desc.su__w-100.su__my-1.su__font-regular.su__font-12.su__loading-view {
  font-size: 14px;
}

span.su__viewed-results.su__text-truncate {
  font-weight: 600;
  margin-bottom: 4px;
}

span.su__viewed-results.su__text-truncate .highlight {
  font-weight: 600;
}

span.su__custom-breadcrum-item {
  font-size: 12px;
  color: #808080;
}

.su__filter-toggle label.su__filter-label {
  font-size: 13px;
}

#loading::before {
  z-index: 3 !important
}

.su__list-items.su__bg-white {
  border: 1px solid #ededed;
  box-shadow: none;
}

div#su__wrapper {
  background-color: #ffffff
}

button.su__filters-button.btn_advance-search.su__advance-background {
  background: #f1582c;
  border-color: white;
}

@media only screen and (max-width: 600px) {
  .su__grid-content .su__list-items {
    max-width: 100%;
  }
}

#search-box-search {
  height: 0px;
}

.su__fillter-sortby-layout-2 {
  min-width: 115px;
  margin-right: 8px !important;
}

.su__save-bookmarks.su__flex-hcenter {
  min-width: 33px;
}

/*New css*/

/*To Remove the content header*/
section.su__contentTabs-section.su__w-100 {
  display: none;
}

/*To get border for Advance search button*/
.su__filters-button {
  border: 1px solid #D8D8D8 !important;
  margin: 0 16px 0 0;
}

/* Font for search results size changed */
.su__font-14 {
  font-size: 14px !important;
  line-height: 20px !important;
}

/*Remove empty thumbnail from the result div*/
.su__featured-thumbnail {
  display: none;
}

/* Change the colour of result heading for each result */
h2.su__text-truncate.su__my-0.su__font-14.su__line-height-n {
  color: #000 !important;
  font-weight: 600 !important;
}

.su__suggesticon.su__mt-1 {
  display: none !important;
}

svg.su__position-absolute.su__search-facet-icon {
  padding-right: 16px !important;
}

input#title-search {
  padding-left: 32px !important;
  border-radius: 0;
}

.su__search-facet-input:not(:focus-visible) {
  border: 1px solid lightgrey !important;
  border-radius: 0 !important;
}

/* Make button visible inside advance search:- */
button.su__btn-block.su__font-regular.su__full-btn.su__text-white.su__mt-2.su__bg-blue-grd.su__radius.su__font-14 {
  background: #f1582c;
  width: 100% !important;
  height: 2.5rem;
  font-size: 14px !important;
}

/* Advance search div change :- */
.su__bookmark-popup-title.su__border-b.su__radius.su__px-3.su__py-3.su__flex-vcenter {
  padding: 0px 0px 0px 0;
  height: 4rem;
}

/* Change advance search div :- */
h2.su__font-16.su__text-black.su__f-regular.su__text-truncate.su__d-inline-block.su__flex-1.su__position-relative.su__text-left.su__ml-2.su__pr-3.su__my-0 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

/* Change margin for text:- */
h2.su__font-16.su__text-black.su__f-regular.su__text-truncate.su__d-inline-block.su__flex-1.su__position-relative.su__text-left.su__ml-2.su__pr-3.su__my-0 {
  margin-left: 12px;
  margin-bottom: 16px;
}

/* Change icon margin:- */
svg.su__advance-icon {
  margin-left: 1px;
}

/* Change close icon css:- */
svg.su__close-icon.su__cursor {
  margin-right: 0px;
  margin-bottom: 0px;
}

svg.su__close-icon.su__cursor path {
  fill: darkgrey;
}

/* Auto learning toggle on settings button */
hr.su-customize-hr {
  margin: 0 0 0 0;
}

/* Change tips header size */
.su__searchTip-header.su__p-3.su__bg-blue-grd.su__text-white.su__rtltext-right.su__position-relative {
  height: 3.2rem;
}

h2.su__m-0.su__font-16 {
  font-size: 16px;
  margin: 0 0 0 0;
}

.su__searchTip-icon.su__position-absolute.su__cursor {
  margin: 2px 3px 0 0;
}

/* Change edit layout header */
.editClient.su__flex-vcenter.su__rtlmb-3 {
  margin: 0 0 0 0;
  height: 3.5rem;
}

h2.su-edit.su__flex-1.su__color-gray.su__font-regular.su__font-16.su__f-normal.su__my-0 {
  font-size: 16px;
}

h3.su__list-item-title.su__text-black.su__text-truncate.su__m-0.su__text-decoration.su__font-14.su__font-bold {
  margin-top: 0;
  margin-bottom: 0;
}

span.su__pref-title {
  font-size: 16px !important;
}


/* headings on side bar for filters changed css */

h2.su__flex-1.su__font-14.filter-label.su__text-truncate.su__pr-3.su__my-0 {
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
  font-size: 16px !important;
  font-weight: 600;
}

/* Advance search button font colour change */
span.su__text-black.su__font-13.su__p-1.su__rtlp-1.su__font-regular {
  color: #000;
}

/* Css for results per page arrow */
i.su__arrow-down {
  margin: 0 0 0 0;
}

/* save bookmark button color change */
button.su__btn.su__bg-blue-grd.su__py-3.su__w-100.su__radius.su__bookmark-save:disabled {
  background: #d3d3d3;
}

button.su__btn.su__bg-blue-grd.su__py-3.su__w-100.su__radius.su__bookmark-save {
  /* background: linear-gradient(90deg, rgb(195 61 55) 0%, rgb(255 53 32) 100%) !important; */
  background: #f1582c;
  /* background: linear-gradient(90deg, rgb(0, 148, 197) 0%, rgb(66, 194, 153) 100%) !important; */
}

/* icon removed from results */
.su_w-20p.su__grid-none.su__mr-2.su__rtlml-2.su__rtlmr-0 {
  display: none;
}

/* Advance search color change while selected */
button.su__filters-button.su__btn.btn_advance-search.su__radius-2.su__bg-white.su__flex-hcenter.su__rtlmr-0.su__rtlml-3.su__advance-background {
  /* background: linear-gradient(90deg, rgb(0, 148, 197) 0%, rgb(66, 194, 153) 100%) !important; */
  background: #f1582c !important;
}

/* Save as bookmark header changes */
h2.su__font-16.su__text-white.su__f-regular.su__flex-1.su__position-relative.su__my-0 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.su__bookmark-popup-title.su__px-3.su__py-2.su__flex-vcenter.su__bg-blue-grd svg.su__close-icon.su__cursor path {
  fill: #fff;
}

/* .su__bookmark-popup-title svg.su__close-icon.su__cursor path {
  fill: #fff;
} */

/* Saved bookmark header changes */
h2.su__font-16.su__text-white.su__f-bold.su__flex-1.su__position-relative.su__my-0 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

/* Icon colour change on settings button */
path#Path_10981 {
  fill: darkgrey;
}

path#Path_10983 {
  fill: darkgrey;
}

path#Path_10985 {
  fill: darkgrey;
}

/* Icon colour changes on main window */
svg.su__bokmark-icon.su__bg-white-hover-50 path {
  fill: darkgray;
}

svg.su__savebookmark-icon.su__bg-white-hover-50 path {
  fill: darkgrey;
}

svg.su__switch-icon-size g {
  fill: darkgrey;
}

.su__cursor.su__view-active svg.su__switch-icon-size g rect {
  fill: #f1582c;
}

.su__cursor svg.su__switch-icon-size g rect {
  fill: darkgrey;
}

/* Change eye icon and close icon color inside edit page layout */
.editLayout svg.su__cursor path {
  fill: darkgrey;
}

svg.su__cursor.su__eye-open path {
  fill: darkgrey;
}

svg.su__cursor.su__eye-close path {
  fill: darkgrey;
}

span.su__line-height-n.undefined svg.su__cursor path {
  fill: darkgrey;
}

span.undefined svg.su__cursor path {
  fill: darkgrey;
}

/* Colour change on hover for heading in preview */
span.su__pref-title:hover {
  color: #c53e37;
}

/* text color changes general*/
#su__wrapper .su__text-black {
  color: #000;
}

/* Advance search text change to red on hover */
span.su__text-black.su__font-13.su__p-1.su__rtlp-1.su__font-regular:hover {
  color: rgb(195 61 55) !important;
}

/* Change show more icon colour to red  */
.su__cursor.su__position-relative.su__font-12.su__color-blue.su__f-regular.su__showmore-text.su__d-inline-block {
  color: rgb(195 61 55);
}

/* Change icon color for close icon inside facet search */
svg.su__facet-close-icon.su__cursor.su__position-absolute path {
  fill: rgb(197 62 55);
}

/* Change for search icon inside facet search */
svg.su__position-absolute.su__search-facet-icon path {
  fill: rgb(197 62 55);
}

/* Change icon color for search for outside facet search */
.su__filter-content-row svg path {
  fill: rgb(197 62 55);
}

.su__search-head-icon.su__flex-vcenter.su__radius-50.su__cursor.su__position-relative {
  border-color: rgb(197 62 55);
}

/* Change results title to red on hover */
a.su__text-decoration.su__text-black.su__font-14.su__font-bold:hover {
  color: rgb(195 61 55) !important;
}

h2.su__text-truncate.su__my-0.su__font-14.su__line-height-n:hover {
  color: rgb(195 61 55) !important;
}

span.su__list-item-desc.su__w-100.su__my-1.su__font-regular.su__font-12.su__loading-view:hover {
  color: rgb(89 88 88) !important;
}

/* Change result title colour for visited result */
span.su__viewed-results.su__click-title.su__text-truncate a.su__text-decoration.su__text-black.su__font-14.su__font-bold {
  color: rgb(102 0 153) !important;
}

span.su__viewed-results.su__click-title.su__text-truncate h2.su__text-truncate.su__my-0.su__font-14.su__line-height-n {
  color: rgb(102 0 153) !important;
}

span.su__viewed-results.su__click-title.su__text-truncate a.su__text-decoration.su__text-black.su__font-14.su__font-bold span.highlight {
  color: rgb(102 0 153) !important;
}

span.su__viewed-results.su__click-title.su__text-truncate h2.su__text-truncate.su__my-0.su__font-14.su__line-height-n span.highlight {
  color: rgb(102 0 153) !important;
}

/* Saved bookmark colour change to red on hover */
span.su__w-100:hover {
  color: rgb(195 61 55) !important;
}

a.su__text-bold.su__text-decoration.su__d-block.su__p-2.su__text-black.su__font-regular.su__text-truncate:hover {
  color: rgb(195 61 55) !important;
}

/* Change color of text in edit page layout customization on hover and other words */
span.su__font-bold.su__color-blue.su__mr-2.su__rtlmr-0.su__rtlml-2 {
  color: rgb(197 62 55) !important;
}

span.toggleDisplay.su__font-regular.su__font-12.su__text-black:hover {
  color: rgb(197 62 55) !important;
}

.resultSection.su__font-14.su__f-regular.su__text-black.su__pb-3.su__font-14.su__mb-2:hover {
  color: rgb(197 62 55) !important;
}

.resultSection.su__font-14.su__f-regular.su__text-black.su__pb-4.su__font-14:hover {
  color: rgb(197 62 55) !important;
}

/* feature snippet display on top while created date filter */
.su__fs-media .su__featured-thumbnail {
  display: block;
}

/* Toggle colour change inside settings */
.su__customized_switch input:checked+.su__customized_switch_slider {
  background: #f1582c !important;
  box-shadow: none !important;
}

/* Show more Show less colour change */
span.su__font-12.su__f-regular.su__color-blue.su___show-more-summary.su__loading-view {
  color: rgb(197 62 55) !important;
}

/* Top facet search input css change */
input#topic-search {
  padding: 6px 24px 7px 34px;
}

/* Similar searches css changes */
.su__recommendations-title h2.su__search-title.su__list-item-title.su__text-truncate.su__m-0.su__loading-view {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Auto-sugegst breadcrumb width changed */
.su__suggestion-desc.su__line-height-n.su__font-11.su__color-lgray.su__suggestBreadcrumb {
  width: 350px !important;
}

/* Mobile View Changes */

/* Bookmark icon colour change */
.su__mob-search-iner svg.su__savebokmark-icon path.su__active-path {
  fill: #535355;
}

.su__mob-search-iner.su__mob-active svg.su__savebokmark-icon path.su__active-path {
  fill: #1870D4;
}

/* filters heading change */
@media (max-width: 767px) {
  h2.su__font-16.su__text-white.su__flex-1.su__position-relative.su__my-0.su__f-normal {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
}

/* close icons margin change */
@media (max-width: 767px) {
  svg.su__close-icon.su__cursor {
    margin-right: 0;
  }
}

/* Save as bookmark header changes */
@media (max-width: 767px) {
  h2.su__font-16.su__text-white.su__f-regular.su__flex-1.su__position-relative.su__my-0 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
}

/* Saved bookmark header changes */
@media (max-width: 767px) {
  h2.su__font-16.su__text-white.su__f-bold.su__flex-1.su__position-relative.su__my-0 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
  }
}

#su__wrapper .su__ribbon-text {
  color: #f15938;
  border-color: #f15938;
}

.su__Recommended_Articles-R .su__Recommended_Article {
  color: #f15938 !important;
}

.su__Recommended_Articles-R #Icon_feather-thumbs-up {
  stroke: #f15938;
}

.su__recommendations-title .su__recommendations-content:hover {
  color: rgb(195 61 55) !important;
}

.su__Recomended_border-b:hover {
  border-bottom-color: rgb(195 61 55) !important;
}

.su_page_rating_box>.su_feedback_form {
  max-width: 280px !important;
}

.su_feedback_form .su_thumb-no {
  min-width: 0 !important;
}

.su_feedback_form .su_thumb-yes {
  margin-right: 10px !important;
}

button.su__bookmark-save {
  color: #fff !important;
  padding-bottom: 0.7rem !important;
  padding-top: 0.7rem !important;
}

.su__bookmark-btn button {
  padding-bottom: 0.7rem !important;
  padding-top: 0.7rem !important;
}

/* Pagination color change */
span.su__pagination-active.su__appearance-none {
  color: #fff !important;
  background-color: #f1582c !important;
}

/* Reset buttons colour change */
button.su__btn.su__bg-gray.su__bg-gray.su__px-4.su__py-2.su__mr-3.su__rtlml-3.su__rtlmr-0.su__radius.su__cursor {
  background: #f1582c;
  color: #fff !important;
}

button.su__btn.su__bg-gray.su__px-4.su__py-2.su__radius.su__cursor {
  background: #f1582c;
  color: #fff !important;
}

/* page-rating close icon */
.su__close-svg.su__position-absolute.su__flex-vcenter.su__bg-light-gray.su__bg-white-circle.su__radius-50 {
  width: 20px !important;
  height: 20px !important;
}

/* Thumb changes */
span.su_thumb-no:hover svg.su__fill-black.su__cursor.su__fillhover-blue path:nth-child(2) {
  fill: #f1582c !important;
}

span.su_thumb-yes:hover svg.su__fill-black.su__cursor.su__fillhover-blue path:nth-child(2) {
  fill: #f1582c !important;
}

/* Reset button colour change */
span.apply.su__border_skyblue.su__text-blue.su__p-2.su__font-regular.su__font-14.su__radius-0.su__cursor.su__mr-3.su__rtlml-3 {
  color: #f1582c !important;
}

/* Change Remove bookmark button colour and size */
.su__bookmark-btn.su__flex-vcenter.su__justify-content-between.su__p-3 {
  margin-right: 290px !important;
  color: #fff !important;
}

.su__bookmark-active {
  background: #f1582c !important;
}

.su__bookmark-active:disabled {
  background: #d3d3d3 !important;
  pointer-events: none;
}

/* Same bookmark error css */
h5.su__duplicate-bookmark {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 0 10px 0 !important;
  font-size: 14px;
}

/* Remove no result index name with suggestions */
span.su__ribbon-title.su__ribbon-list.su__bg-blue.su__font-12.su__px-2.su__rtlmr-1.su__ml-1.su__rtlml-0.su__d-inline-block.su__radius-3 {
  display: none;
}

/* for z -index of search tips in mobile view*/
section.su__mobile-feature.su__w-100.su__position-fixed.su__bottom-0.su__bg-white.su__d-xs-block {
  z-index: 9999;
}

/* Change tips colour */
.su__searchTip-header.su__p-3.su__bg-blue-grd.su__text-white.su__rtltext-right.su__position-relative {
  background: #f1582c !important;
}

/* To chnage color of active bookmark*/
.su__active-bookmark-list-icon svg path {
  fill: #f1582c !important;
}

button.su__filters-button.su__btn.btn_advance-search:focus-visible,
button.su__filters-button.su__btn.btn_advance-search:focus {
  box-shadow: 0px 0px 0px 2px #f1592c !important;
}

.su__fillter-sortby-layout-2 #su__sortByLabel .su__btn-filters:focus,
.su__fillter-sortby-layout-2 #su__sortByLabel .su__btn-filters:focus-visible {
  box-shadow: 0px 0px 0px 2px #f1592c !important;
}

.su__filter-toggle input[type=checkbox]:checked+label:before {
  content: "";
  background: #c53e37 !important;
  border-color: #c53e37 !important;
}

#su__wrapper .su__filter-toggle input[type=checkbox]:checked+label:before {
  content: "";
  background: #c53e37 !important;
  border-color: #c53e37 !important;
}

/* Remove bookmark button mobile view */
@media (max-width: 767px) {
  .su__bookmark-btn.su__flex-vcenter.su__justify-content-between.su__p-3 {
    margin-right: 190px !important;
  }
}

.su__list-items.su__bg-white.su__sm-shadow.su__radius-1.su__position-relative.su__mb-3.su__p-3 {
  padding-top: 0 !important;
}

/* Clear all colour change */
button.su__clear-all-btn.su__border-none.su__cursor.su__bg-transparent.su__font-bold.su__font-12.su__mb-1.su__p-0.su__color-lblue.su__loading-view {
  color: #f1592c !important;
}

.su__filter-toggle .su__toggle-input {
  accent-color: #f1582c;
}

.su__customized_switch #auto-learning:checked+.su__customized_switch_slider {
  box-shadow: 0 0 0 1px #f1582c !important;
}

.su__pagination span span {
  color: #555555 !important;
}

.su__pagination span span:hover {
  color: #197ff2 !important;
}

.su__pagination span span.su__pagination-active {
  color: #fff !important;
}

/* Auto-tune results */
.su__boosted-documents-positioning {
  padding: 3px 0 0 0 !important;
}

/* Textbox text overlap on search bar mobile view */
@media (max-width: 767px) {
  .su_autocomplete-block input#search-box-autocomplete {
    margin: 0 3.05rem 0 0;
  }
}

.su_autocomplete-block input#search-box-autocomplete {
  margin: 0 3.05rem 0 0;
}

.su__ml-2,
.su__mx-2,
.su__rtl .su__rtlml-2,
.su__rtl .su__rtlmx-2 {
  margin-left: 2px !important;
}

.su__ml-3,
.su__mx-3,
.su__rtl .su__rtlml-3,
.su__rtl.su__rtlmx-3 {
  margin-left: 12px !important;
}



/*Search Box css**/
.su__search_section.su__bg-blue-grd {
  background: transparent;
  margin: 0px;
  padding: 0px;
}

.su_autocomplete-block .su__search_section .su__container {
  padding: 0px;
}

.su_autocomplete-block input#search-box-autocomplete {
  border-radius: 0px;
}

div#su_autocomplete-block .su__container {
  padding: 0px;
  margin: 0px;
  max-width: 100% !important;
}

span.su__suggestion-title.su__font-13.su__text-black.su__f-regular {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

span.su__color-gray.su__f-bold {
  color: #808080 !important;
}

.su__recentSearch {
  height: 35px;
}

.su__autoSuggestion.su__align-items-center.su__cursor.su__suggestions-list {
  height: 35px;
}

.su__suggestions-list.su__bg-gray-hover.su__d-flex.su__font-14.su__text-black {
  line-height: 20px;
}

/* Padding fix */
@media (min-width: 576px) {
  .su__app .su__container {
    padding: 0px;
  }
}

.su__allSelected-notshow.su__ipadview-block.su__d-md-flex.su__py-2.su__col-md-12 {
  padding: 0px;
}

.swapFilterLeft.su__col-xl-9.su__col-xs-12.su__mt-sm-4.su__px-xs-2.su__overflow-hide {
  padding-left: 2px;
}

/* Search Box focus-visible outline set to none */
input#search-box-autocomplete:focus-visible {
  outline: none !important;
}

.su_autocomplete-block .su__search_btn svg path {
  fill: white;
}

/* similar searches widget css */
#su__wrapper .su__ribbon-text {
  font-weight: 500;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.su__recommendations-title h3.su__search-title {
  font-weight: inherit;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/** searchunify  main.css copy end */


/** su searchbox styles from custom.css */
.su__search_btn {
  animation: none !important;
}

.su__search-box-1 {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.su__search-box-1 .su__search-input {
  font-family: 'DMSans', Helvetica, Arial, sans-serif !important;
  background: #fafafa;
  color: rgba(70, 70, 70, 0.8);
  padding: 1rem;
  height: 42px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  margin: 0 3.05rem 0 0;
  width: 100%;
  border: none;
  font-size: 16px;
}

.su__search-box-1 .su__search-input:focus:not(:focus-visible) {
  outline: 1px solid transparent;
}

.su__search-box-1 .su__search-input:focus-visible {
  outline: none !important;
  border-color: transparent !important;
}

.su__search-box-1 .su__search-button {
  background-color: #f1582c;
  left: calc(100% - 50px) !important;
  height: 100%;
  padding: 0px 13px;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.su__search-box-1 .su__search-button svg path {
  fill: white;
}