.select2-selection__rendered {
    line-height: 36px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container .select2-dropdown {
    right: 100px;
    min-width: 220px; /* Enough width so that options don't wrap */
}

#cloud-provider-selector {
  min-width: 250px; /* Set the desired width for the select tag */
}

.select2-selection__arrow {
    height: 38px !important;
    width: 0px !important;
    right: 20px !important;
}

.cloud-provider__selected-text {
    font-weight: 600;
}

.cloud-provider__icon {
    margin-right: 4px;
}

#cloud-provider-selector {
    margin-right: 100px;
}