.wy-nav-top-logo img {
  width: 207px;
  height: 20px;
}
.header-logo img {
  width: 234px;
  height: 22px;
}
/*******************************************************************************
 * Databrics Commone Header
 */
@media(max-width:480px){
  .wy-nav-top-logo img {width: 175px;height: auto;}
}